# Simulations Data Analysis

### Extract the simulation results

In [1]:
import pandas as pd

In [34]:
metrics_df = pd.read_csv('../raw_data/phase1_results.csv',header=0,skiprows = 6, nrows = 10, usecols =[0,1])
metrics_df

                  [run number]       1
0       average-susceptibility    60.0
1        average-recovery-time   504.0
2           initial-population  5000.0
3             initial-infected     1.0
4           average-death-rate     0.2
5        average-recovery-rate    90.0
6             quarantine-delay     1.0
7       mass-testing-intensity     0.0
8  social-distancing-intensity     0.0
9           lockdown-intensity     0.0

In [40]:
sim_df = pd.read_csv('../raw_data/phase1_results.csv',header=0,skiprows = 24, nrows = 1564, usecols =[1,2,3,4,5,6,7,8,9])
sim_df

,count turtles,count turtles with [infected? = false and recovered? = false],count turtles with [infected? = true],count turtles with [recovered? = true],death-count,quarantined-count,max-infected-others,variance-infected-others,mean-infected-others
0,5000,4999,1,0,0,0,0,0.000000,0.000000
1,5000,4999,1,0,0,0,0,0.000000,0.000000
2,5000,4999,1,0,0,0,0,0.000000,0.000000
3,5000,4998,2,0,0,0,1,0.000000,1.000000
4,5000,4998,2,0,0,0,1,0.000000,1.000000
5,5000,4998,2,0,0,0,1,0.000000,1.000000
6,5000,4998,2,0,0,0,1,0.000000,1.000000
7,5000,4995,5,0,0,0,3,1.414214,2.000000
8,5000,4995,5,0,0,0,3,1.414214,2.000000
9,5000,4994,6,0,0,0,3,0.707107,2.500000
10,5000,4994,6,0,0,0,3,0.707107,2.500000
11,5000,4994,6,0,0,0,3,0.707107,2.500000
12,5000,4994,6,0,0,0,3,0.707107,2.500000
13,5000,4994,6,0,0,0,3,0.707107,2.500000
14,5000,4994,6,0,0,0,3,0.707107,2.500000
15,5000,4994,6,0,0,0,3,0.707107,2.500000
16,5000,4993,7,0,0,0,3,1.000000,2.000000
17,5000,4993,7,0,0,0,3,1.000000,2.000000
18,5000,4993,7,0,0,0,3,1.000000,2.000000
19,5000,4993,7,0,0,0,3,1.000000,2.000000
20,5000,4993,7,0,0,0,3,1.000000,2.000000
21,5000,4993,7,0,0,0,3,1.000000,2.000000
22,5000,4992,8,0,0,0,3,0.577350,2.333333
23,5000,4992,8,0,0,0,3,0.577350,2.333333
24,5000,4992,8,0,0,0,3,0.577350,2.333333
25,5000,4992,8,0,0,0,3,0.577350,2.333333
26,5000,4992,8,0,0,0,3,0.577350,2.333333
27,5000,4992,8,0,0,0,3,0.577350,2.333333
28,5000,4992,8,0,0,0,3,0.577350,2.333333
29,5000,4991,9,0,0,0,3,0.816497,2.000000
...,...,...,...,...,...,...,...,...,...
1534,1931,0,1,1930,3069,0,10,1.386338,1.988024
1535,1931,0,1,1930,3069,0,10,1.386338,1.988024
1536,1931,0,1,1930,3069,0,10,1.386338,1.988024
1537,1931,0,1,1930,3069,0,10,1.386338,1.988024
1538,1931,0,1,1930,3069,0,10,1.386338,1.988024
1539,1931,0,1,1930,3069,0,10,1.386338,1.988024
1540,1931,0,1,1930,3069,0,10,1.386338,1.988024
1541,1931,0,1,1930,3069,0,10,1.386338,1.988024
1542,1931,0,1,1930,3069,0,10,1.386338,1.988024
1543,1931,0,1,1930,3069,0,10,1.386338,1.988024
1544,1931,0,1,1930,3069,0,10,1.386338,1.988024
1545,1931,0,1,1930,3069,0,10,1.386338,1.988024
1546,1931,0,1,1930,3069,0,10,1.386338,1.988024
1547,1931,0,1,1930,3069,0,10,1.386338,1.988024
1548,1931,0,1,1930,3069,0,10,1.386338,1.988024
1549,1931,0,1,1930,3069,0,10,1.386338,1.988024
1550,1931,0,1,1930,3069,0,10,1.386338,1.988024
1551,1931,0,1,1930,3069,0,10,1.386338,1.988024
1552,1931,0,1,1930,3069,0,10,1.386338,1.988024
1553,1931,0,1,1930,3069,0,10,1.386338,1.988024
1554,1931,0,1,1930,3069,0,10,1.386338,1.988024
1555,1931,0,1,1930,3069,0,10,1.386338,1.988024
1556,1931,0,1,1930,3069,0,10,1.386338,1.988024
1557,1931,0,1,1930,3069,0,10,1.386338,1.988024
1558,1931,0,1,1930,3069,0,10,1.386338,1.988024
1559,1931,0,1,1930,3069,0,10,1.386338,1.988024
1560,1931,0,1,1930,3069,0,10,1.386338,1.988024
1561,1931,0,1,1930,3069,0,10,1.386338,1.988024
1562,1931,0,1,1930,3069,0,10,1.386338,1.988024
1563,1931,0,0,1931,3069,0,10,1.386338,1.988024